:root {
  /* COLORS */
  /* primary */
  --dark-blue: hsl(233, 47%, 7%);
  --desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* neutral */
  --white: hsl(0, 0%, 100%);
  --white-transparent-07: hsla(0, 0%, 100%, 0.75);
  --white-transparent-06: hsla(0, 0%, 100%, 0.6);

  /* FONTS */
  --ff-primary: "Lexend Deca", sans-serif;
  --ff-accent: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
  font-size: 15px;
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--ff-primary);
}

.text-center {
  text-align: center;
}

h1,
h2 {
  font-family: var(--ff-accent);
  font-weight: 900;
}

/* Card section */
.card-container {
  margin: auto;
  width: min(90%, 350px);
}

.card {
  display: grid;
  grid-template-rows: minmax(15rem, auto) 1fr;
  grid-template-columns: minmax(auto, 350px);
  grid-template-areas:
    "img"
    "content";
  background-color: var(--desaturated-blue);
  border-radius: 0.5em;
  margin: 5rem 0;
}

#img-container {
  width: 100%;
  background-image: linear-gradient(
      hsla(277, 42%, 37%, 0.75),
      hsla(277, 42%, 37%, 0.75)
    ),
    url(images/image-header-mobile.jpg);
  filter: contrast(1.25);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: img;
  border-radius: 0.5em 0.5em 0 0;
}

.content-container {
  padding: 1em;
  margin: 1rem 0;
  grid-area: content;
}

.content-container h1 {
  margin-block-end: 1rem;
}

.accent {
  color: var(--soft-violet);
}

#text-insights {
  line-height: 1.8;
  margin: 1rem;
  color: var(--white-transparent-07);
}

.stats {
  margin-block-start: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stats-item {
  padding: 1em;
}

.stats-item p {
  text-transform: uppercase;
  padding: 0.5em;
  color: var(--white-transparent-06);
}

/* Footer */
footer {
  padding: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.attribution > * {
  padding: 0.5em;
}

.attribution a {
  color: var(--soft-violet);
}

/* Desktop */
@media (min-width: 1440px) {
  .card-container {
    width: 70%;
  }

  .card {
    grid-template-columns: 1fr minmax(500px, auto);
    grid-auto-rows: auto;
    grid-template-areas: "content img";
    column-gap: 2.5em;
  }

  #img-container {
    background-image: linear-gradient(
        hsla(277, 42%, 37%, 0.75),
        hsla(277, 42%, 37%, 0.75)
      ),
      url(images/image-header-desktop.jpg);
    border-radius: 0 0.5em 0.5em 0;
  }

  .content-container {
    text-align: left;
    padding: 3em;
  }

  h1 {
    font-size: 2.4em;
  }

  #text-insights {
    margin: 1rem 0;
  }

  .stats {
    flex-direction: row;
  }

  .stats-item {
    padding: 1em 0;
  }

  .stats-item p {
    padding: 0.5em 0;
  }
}
