:root {
  --ff-primary: "Manrope", sans-serif;

  /* colors */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --card-shadow: 0px 30px 50px -20px hsla(240, 8%, 70%, 0.39);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 13px;
  font-family: var(--ff-primary);
  font-weight: 500;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--light-grayish-blue);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-container {
  margin: 1rem;
  justify-self: center;
  align-self: center;
  width: 90%;
  max-width: 360px;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: var(--card-shadow);
}

.article {
  position: relative;
}

.article-img {
  border-radius: 0.75rem 0.75rem 0 0;
}

.article-content {
  padding: 2.25rem 1.85rem 1rem;
}

.article-title,
.author-info h2 {
  font-weight: 900;
  color: var(--very-dark-grayish-blue);
}

.article-title,
.article-text {
  line-height: 1.5;
}

.article-title {
  letter-spacing: 0.045rem;
}

.article-text,
.author-info p {
  color: var(--desaturated-dark-blue);
}

.article-text {
  margin: 1rem 0 1.5rem;
}

.article-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.author-info {
  padding: 0.5rem 1rem;
  line-height: 1.5;
}

.author-info h2 {
  font-size: 0.9rem;
}

.author-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.btn-share,
.btn-modal-share,
.btn-facebook,
.btn-twitter,
.btn-pinterest {
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.btn-share:hover,
.btn-modal:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn-share {
  margin-inline-start: auto;
  width: 32px;
  height: 32px;
  background-image: url(images/icon-share.svg);
  background-size: 50%;
  border-radius: 50%;
}

.modal-share {
  background-color: var(--very-dark-grayish-blue);
  color: var(--grayish-blue);
  padding: 1.25rem 1.85rem;
  border-radius: 0 0 0.75rem 0.75rem;
  display: none;
}

.modal-share.open {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-text {
  letter-spacing: 0.368rem;
}

.btn-modal {
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin: 0 0.5rem;
}

.btn-facebook {
  background-image: url(images/icon-facebook.svg);
}

.btn-twitter {
  background-image: url(images/icon-twitter.svg);
}

.btn-pinterest {
  background-image: url(images/icon-pinterest.svg);
}

.btn-modal-share {
  background-color: var(--desaturated-dark-blue);
}

.colorize-white {
  background-image: url(images/icon-share-white.svg);
}

footer {
  padding: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */

@media screen and (min-width: 1440px) {
  img {
    height: unset;
  }
  
  .article-container {
    width: 60%;
    max-width: 700px;
  }

  .article {
    display: flex;
  }

  .article-img {
    width: 40%;
    border-radius: 0.75rem 0 0 0.75rem;
  }

  .article-content {
    width: 60%;
    padding: 1.85rem;
  }

  .author-info h2 {
    font-size: 0.8rem;
  } 

  .modal-share {
    border-radius: 0.75rem;
  }

  .modal-share::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    pointer-events: none;
    border-color: hsla(217, 19%, 35%, 0);
    border-top-color: #48556a;
    border-width: 14px;
    margin-left: -14px;
  }
  
  .modal-share.modal-share.open {
    left: unset;
    right: calc(-10% - 10px);
  }

  .modal-share.modal-share.open,
  .modal-share.open::after {
    box-shadow: 0px 30px 20px -10px hsla(240, 8%, 70%, 0.39);
  }

  .modal-text {
    margin-inline-end: 1rem;
  }

  .btn-close-modal {
    display: none;
  }
}